<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg navbar-default navbar-custom navbar-light">
    <div class="container">
        <a class="navbar-brand logo" href="{% url 'home' %}"><i class="icofont-deer-head"></i></a>

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="pe-7s-menu"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'work' %}">Work</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
